{% extends 'base.html' %}
{% load static %}

{% block title %}
    Последние вакансии
{% endblock %}

{% block page_title %}
    Последние вакансии
{% endblock %}

{% block body %}
    {% for item in data %}
    <div class='block'>
        <p class='block__name'>{{ item.name }}</p>
        <p class='block__name__2'>Описание</p>
        <p class='block__text'>{{ item.desc }}</p>
        <p class='block__name__2'>Ключевые навыки</p>
        <p class='block__text'>{{ item.skills }}</p>
        <p class='block__name__2'>Компания</p>
        <p class='block__text'>{{ item.company }}</p>
        <p class='block__name__2'>Оклад</p>
        <p class='block__text'>{{ item.price }}</p>
        <p class='block__name__2'>Регион</p>
        <p class='block__text'>{{ item.region }}</p>
        <p class='block__name__2'>Дата публикации</p>
        <p class='block__text'>{{ item.date_published }}</p>
    </div>
    <div class='breakline'></div>
    {% endfor %}
{% endblock %}
